{% extends 'template.html.twig' %}


{% block content %}
    <p>results.html.twig</p>
    {% for itinerary in itineraries %}
        <h1>Start Time: {{ itinerary.getStartTime }}<h1>
        <h1>End Time: {{ itinerary.getEndTime }}</h1>
        <h1>Distance: {{ itinerary.getDistance }} <br></h1>
    {% endfor %}
{% endblock %}
