li {
    list-style-type: none;
}

h3.white {
    color: #eaf1f7;
}

.card {

  border-bottom: 2px solid lightgray;

}

.from-place, .to-place {
  font-weight: bold;
}


img#background {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
    z-index: -1;
}

h1 {
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 9rem;
    font-weight:bolder;
    color: blue;
}


#map{
    border-radius: 2%;
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 55vh !important;
 }

div {
    margin-top: 1%;
}

 button {
     margin-top: 5px;
     height: 5rem;
     margin-bottom: 5px;
 }
